/* ================= VARIABLES ================= */
:root {
  --primary-color: #0a4577;       
  --primary-color-dark: #063d6c;   
  --text-dark: #111827;            
  --white: #ffffff;
  --black: #000000;  
  --orange: #f8982f; 

  --site-bg: #ffffff;       
  --darkbackground: #a6a6a6; 
}

body {
  font-family: 'Georgia Pro', serif; 
}

/* ================= GLOBAL RESET ================= */
* {
  padding: 0;                    
  margin: 0;                       
  box-sizing: border-box;           
}
